body {
    width: 230px;
    height: 230px;
    background-color: green;
    display: flex;
    justify-content: center;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color: black;
    background-color:pink;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}